/*
variables
*/
$text-color: #505050;
$text-hover-color: #d76474;

/*
all front end header updates go here
*/
div#spree-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: none;
	border-bottom: 1px solid $text-color;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);

	header#header {
		background: rgba(255, 255, 255, 0.6);

		figure#logo {
			margin-bottom: 0;
		}

		div#main-nav-bar,
		nav#top-nav-bar {
			min-height: 30px;

			ul.nav.navbar-nav {
				li {
					a {
						padding-top: 7px;
						padding-bottom: 7px;
						background-color: transparent;
					}

					button {	
						border: 0;
						background-color: transparent;
						box-shadow: none;
					}

					> a, 
					> button, 
					> div.btn-group > a,
					> div.btn-group > button {
						-webkit-transition: color 1s;
						transition: color 0.25s;
						text-transform: uppercase;
						color: $text-color;

						&:hover {
							color: $text-hover-color;
						}
					}

					ul.dropdown-menu {
						top: 52px;
						border-radius: 0;
						color: $text-color;

						&:hover {
							color: $text-color;
						}

						a {
							color: inherit;
						}
					}
				}

				/*
				left most navbar section
				contains home link and shop categories
				*/
				li#shop-categories {
					ul.dropdown-menu {
				    width: 70vw;
				    left: -20vw;

				    h4.taxonomy-root {
							text-transform: uppercase;
							font-weight: bold;
							font-size: 14px;
				    }

				    div.list-group {
				    	margin-bottom: 15px;

				    	a.list-group-item {
				    		font-size: 12px;
				    		padding: 7px 0 0 0;
				    		border: 0;

				    		&.active,
				    		&:hover {
				    			color: $text-hover-color;
				    		}
				    	}
				    }
					}
				}

				/*
				right most navbar section
				contains user and searchbar 
				*/
				li#link-to-cart {
					a.cart-info {
						span.badge {
					    background-color: #ED760F;
					    padding: 3px 5px;
					    font-weight: normal;
					    font-size: 8px;
					    position: absolute;
					    top: 2px;
					    right: 5px;
						}
					}
				}

				&#nav-bar {
					li#search-bar,
					li#user-login {
						div.btn-group {
							padding: 7px 15px;

							button.btn {
								padding: 0;

								span:not([class$="glyphicon-remove"]) {
									display: block;
								}

								span.glyphicon-remove {
									display: none;
								}
							}

							&.open {
								button.btn {
									span:not([class$="glyphicon-remove"]) {
										display: none;
									}

									span.glyphicon-remove {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	nav#top-nav-bar {
		.navbar-nav {
			li {
				float: right;
			}
		}
	}
}