/*
all front end home updates go here
*/

div#home_carousel {
	overflow: hidden;
	max-height: 450px;
	margin-bottom: 50px;

	div.carousel-inner {
		div.item {
			img {
				width: 100%;
			}
		}
	}

	a.carousel-control {
		width: 5%;
	}
}

div#non_home_spacer {
	height: 75px;
}